
.p-datatable .p-datatable-tbody > tr > td{
    padding: 0.5rem 0.5rem;   
}
///Button 
.border-round{
    border-radius: 2rem;
    margin-right:0.5rem;
    }
.bg-light-primary{
    background-color: #E4FFF4;
}
.icon-light-primary{
    color:#20D6B4
}
button.bg-light-primary:hover{
    background-color: #bafce2;
}

.bg-light-secondary{
    background-color:#FFF8DD;
}
.icon-light-secondary{
    color:#FFC700
}
button.bg-light-secondary:hover{
    background-color: #f5e8b4;
}

.bg-light-danger{
    background-color:#FFEFF3;
}
.icon-light-danger{
    color:#F1416C
}
button.bg-light-danger:hover{
    background-color: #f79fb5;
}



.bg-light-info{
    background-color:#F1FAFF;
}
.icon-light-info{
    color:#1a628a
}
button.bg-light-info:hover{
    background-color: #a7ddfa;
}

.bg-purple{
    background-color: #F6F1FC;
}
.color-blue{
    background-color: #00B2FF;
}
.rounded1{
    border-radius: 1rem!important;
}
.rounded15{
    border-radius: 1.5rem!important;
}
.p-5 {
    padding: 1.25rem!important;
}
.bg-grey{
    background-color: #EEF3F7
}
.color-darkgrey{
    background-color: #A1A7C7
}
.p-inputtext{
    padding: 0.36rem 0.4rem !important;
}