.picthumb{
    width: 100px;
}
.rowcute{
    border-radius: 10px  !important;
   background-image:url('/assets/img/bggreen1.png') !important ;
   background-repeat: repeat-y  !important;
   background-position:-50px 0px  !important;
}
.rowcutetable{
    background-position:-55px 0px  !important;
}
.rowindex{
    border-radius: 10px  !important;  
   
}
.bg-green-5{
    background-color: rgb(241, 248, 246) !important;
  
}
.bg-green-10{
    background-color: rgb(230, 248, 242) !important;
 
}
.bg-green-15{
    background-color: rgb(214, 252, 239)  !important;
}
.color-green{
    color: rgb(28, 163, 152) !important;
}